
<!-- ======= Footer ======= -->
<footer id="footer" data-aos="fade-up" data-aos-easing="ease-in-out" data-aos-duration="500">

	<div class="footer-newsletter">
		<div class="container">
			<div class="row">
				<div class="col-lg-6">
					<h4>Join Us</h4>
					<p>Join Us on Whatsapp and Telegram Group for regular update</p>
				</div>
				<div class="col-lg-6">
					<div class="join">
						<a href="https://chat.whatsapp.com/EB2DjsAw5Wv66Yl4FSB0gZ" target="__blank"><i class="bi bi-whatsapp"></i></a>
						<a href="https://t.me/Tradinghubbyarth" target="__blank" ><i class="bi bi-telegram"></i></a>
					</div>
				</div>
			</div>
		</div>
	</div>

	<div class="footer-top">
		<div class="container">
			<div class="row">

				<div class="col-lg-3 col-md-6 footer-links">
					<h4>Useful Links</h4>
					<ul>
						<li><i class="bx bx-chevron-right"></i> <a href="home">Home</a></li>
						<li><i class="bx bx-chevron-right"></i> <a href="about">About us</a></li>
						<li><i class="bx bx-chevron-right"></i> <a href="services">Services</a></li>
                        <li><i class="bx bx-chevron-right"></i> <a href="admin">Admin</a></li>
						<li><i class="bx bx-chevron-right"></i> <a href="#">Terms of service</a></li>
						<li><i class="bx bx-chevron-right"></i> <a href="#">Privacy policy</a></li>
					</ul>
				</div>

				<div class="col-lg-3 col-md-6 footer-links">
					<h4>Our Services</h4>
					<ul>
						<li><i class="bx bx-chevron-right"></i> <a href="#">Market and Strategies </a></li>
						<li><i class="bx bx-chevron-right"></i> <a href="#">Consulting</a></li>
						<li><i class="bx bx-chevron-right"></i> <a href="#">Analysis</a></li>
						<li><i class="bx bx-chevron-right"></i> <a href="#">Investment Portfolio</a></li>
						
					</ul>
				</div>

				<div class="col-lg-3 col-md-6 footer-contact">
					<h4>Contact Us</h4>
					<p>
						
						<strong>Phone:</strong> +91 9723663140<br>
						<strong>Email:</strong> info.tradinghub1@gmail.com<br>
					</p>

				</div>

				<div class="col-lg-3 col-md-6 footer-info">
					<h3>About TradingHub</h3>
					<p>Trading hub is a source of traders to park their money and trading is a good oppportunity if you want to make career in here we help people in guiding about financial markets and serving people .</p>
					<div class="social-links mt-3">
						<a href="#" class="twitter"><i class="bx bxl-twitter"></i></a>
						<a href="#" class="facebook"><i class="bx bxl-facebook"></i></a>
						<a href="#" class="instagram"><i class="bx bxl-instagram"></i></a>
						<a href="#" class="linkedin"><i class="bx bxl-linkedin"></i></a>
					</div>
				</div>

			</div>
		</div>
	</div>

	<div class="container">
		<div class="copyright">
			&copy; Copyright <strong><span>TradingHub</span></strong>. All Rights Reserved
		</div>
		<div class="credits">
			<!-- All the links in the footer should remain intact. -->
			<!-- You can delete the links only if you purchased the pro version. -->
			<!-- Licensing information: https://bootstrapmade.com/license/ -->
			<!-- Purchase the pro version with working PHP/AJAX contact form: https://bootstrapmade.com/free-bootstrap-template-corporate-moderna/ -->
			<!-- Designed by <a href="https://bootstrapmade.com/">BootstrapMade</a> -->
		</div>
	</div>
</footer><!-- End Footer -->